@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quartz.NET Demo</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Job list:</h2>
        <p>
            @Html.Raw(ViewBag.AllJobs)
        </p>
        <p><a class="btn btn-default" href="/Home/AddJob">Add Job Test &raquo;</a></p>

        <p><a class="btn btn-default" href="/Home/DeleteJob">Delete Job Test &raquo;</a></p>

        <p><a class="btn btn-default" href="/">Refresh &raquo;</a></p>
    </div>
</div>